body {
    margin: 0;
    background: linear-gradient(to right, #42CEE7, #CE3CF9);
}

table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    padding: 10px;
    border: double;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: Verdana;
}

span.validationError {
    color: red;
}

/*
 *  Common-parts settings
 */

.a-simple {
    color: #053382;
    text-decoration: underline;
}

.a-to-register {
    text-align: center;
    margin-left: 8px;
    cursor: pointer;
    color: #053382;
    text-decoration: underline;
}

.a-to-login {
    text-align: center;
    margin-left: 8px;
    cursor: pointer;
    color: #053382;
    text-decoration: underline;
}

.select-element {
    width: 210px;
    margin-top: 3px;
    padding: 3px;
}

.text-before-field {
    font-weight: bold;
    font-size: 15px;
}

.input-place {
    margin-top: 3px;
    padding: 3px;
    width: 200px;
}

.input-textarea {
    height: 160px;
    width: 345px;
    resize: vertical;
    padding: 5px;
}

.body {
    margin-top: 30px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.btn {
    text-align: center;
    cursor: pointer;
    color: #202120;
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
    border-radius: 4px;
    background-color: #58E20F;
    border: none;
    padding: 10px;
    width: 115px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #69FC1B;
}

/*
 *  navbar settings
 */

.navbar {
    background-color: #2E353B;
    display: flow-root;
    padding: 10px;
}

.sub-navbar {
    display: flow-root;
    padding: 15px;
}

.sub-navbar-links {
    color: white;
    font-weight: bold;
    padding: 25px 20px 26px 20px;
    text-align: center;
    text-transform: uppercase;
}

.sub-navbar-links:hover {
    color: #A0A0A0;
}

#navbar-left {
    float: left;
}

#navbar-right {
    float: right;
}

/*
 *  Home page
 */

.home-page {
    align-content: center;
}

/*
 *  Login and Registration pages
 */

.login-page, .registration-page {
    width: 200px;
    display: inline;
}

/*
 *  accountInfo page
 */

.account-info {
    width: 100%;
    margin: 0 auto;
}

.account-info-form {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.user-products-div-ul {
    max-width: 900px;
    margin: 0 auto;
}

.user-products-ul {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 5em;
}

.user-products-li {
    background-color: #3090B4;
    width: 250px;
    margin: 10px auto;
    border: 2px;
    border-color: #221912;
    border-style: ridge;
}

.user-product-div-delete-btn {
    float: right;
    padding-left: 7px;
    position: relative;
}

.user-product-edit-btn-element {
    margin-right: 2px;
    padding-top: 10px;
}

.user-product-edit-btn-element:hover {
    border-bottom: 2px outset black;
}

.user-product-edit-btn {
    width: 13px;
    height: 13px;
    margin: 7px 3px 0px 4px;
    padding-bottom: 1px;
}

.user-product-delete-btn {
    font-size: 21px;
    font-weight: bold;
    color: #990707;
    float: right;
    margin: 3px 10px 2px 4px;
    padding: 0px 3px;
}

.user-product-delete-btn:hover {
    text-decoration: underline;
}

.user-products-a {
    color: #2F2014;
    font-size: 17px;
    font-weight: bold;
    width: 100%;
}

.user-products-inside-div {
    min-height: 166.34px;
    padding: 8px 15px 8px 15px;
}

.user-products-inside-div h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.user-products-li:hover {
    background: #eee;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    height: 200px;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    height: 80%;
    overflow: auto;
}

.popup-to-delete-product-btns {
    margin-top: 25px;
}

#popup-to-delete-item-btn-yes {
    margin-right: 10px;
    padding: 15px 30px 15px 30px;
    color: white;
    background-color: #04721F;
}

#popup-to-delete-item-btn-no {
    padding: 15px 30px 15px 30px;
    color: white;
    background-color: #CC1212;
}

@media screen and (max-width: 700px){
    .popup{
        width: 70%;
    }
}

/*
 *  addProduct page
 */

.add-product-form {
    list-style-type: none;
    width: 400px;
    margin: 0 auto;
    padding: 15px 0px;
    border: double;
    border-radius: 1px;
    border-color: #292929;
}

.add-product-type-form {
    list-style-type: none;
    width: 400px;
    margin: 0 auto;
    padding: 15px 0px;
    border: double;
    border-radius: 1px;
    border-color: #292929;
}

/*
 *  editProduct page
 */

.edit-product {

}

/*
 *  getProducts page
 */

.list-of-products {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.list-of-product-width {
    text-align: center;
    margin: 0 auto;
}

.found-products-h2 {
    font-weight: bold;
}

.found-products-div-ul {
    max-width: 1164px;
    margin: 0 auto;
}

.found-products-ul {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 5em;
}

.found-products-li {
    background-color: #3090B4;
    width: 350px;
    margin: 10px auto;
    border: 2px;
    border-color: #221912;
    border-style: ridge;
}

.found-products-a {
    color: #2F2014;
    font-size: 17px;
    font-weight: bold;
    width: 100%;
}

.found-products-inside-div {
    min-height: 166.34px;
    padding: 8px 15px 8px 15px;
}

.found-products-inside-div h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#found-product-name {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.found-products-li:hover {
    background: #eee;
}

/*
 *  getProductById page
 */

.product-by-id-width {
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ddd;
    border-radius: 4px;
}

.product-by-id-info {
    display: inline-flex;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: -webkit-left;
}

#product-by-id-div-price-and-desc {
    max-width: 350px;
    text-align: center;
}

#product-by-id-name {
    margin-right: 15px;
    border-spacing: 4px;
    border-bottom: solid;
}

#product-by-id-price {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

#product-by-id-description {
    margin: 0;
    margin-top: 5px;
    font-weight: normal;
    font-size: 12px;
}