<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopper - account info</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="container body account-info">
        <h1 style="margin-bottom: 50px;">Account information</h1>
        <h4 style="margin-bottom: 10px;">Credentials:</h4>

        <form class="account-info-form" th:action="@{/accountInfo}" method="get">
            <table>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Authority</th>
                </tr>
                <tr th:each="user : ${loggedUser}">
                    <th th:text="${user.username}">Username</th>
                    <th th:text="${user.email}">Email</th>
                    <th th:text="ADMIN">Authority</th>
                </tr>
            </table>
        </form>

        <div>
            <h4 style="margin-bottom: 10px;">User products:</h4>
            <div class="user-products-div-ul">
                <ul class="user-products-ul" style="height: inherit; margin-bottom: 10px;">
                    <li class="user-products-li" th:each="product : ${userProducts}">
                        <div class="user-product-div-delete-btn">
                            <a th:href="@{'/deleteProduct/' + ${product.id}}"
                               onclick="deleteProduct(this.id); return false;"
                               th:id="${product.name}" class="user-product-delete-btn">&times;</a>
                        </div>

                        <a class="user-products-a" th:href="@{'/getProduct/' + ${product.id}}">
                            <div class="user-products-inside-div">

                                <h4 th:text="${product.name}">Name</h4>
                                <p class="price" th:text="${product.price} + '$'">Price</p>
                                <h5 th:text="${product.description}">Description</h5>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        function deleteProduct(name) {
            var answer = window.confirm("Do you want to delete " + name + "?")

            if (answer) {
                window.location.replace(url);
            } else {
                return false;
            }
        }
    </script>

</body>
</html>