<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopper - add new product</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="container body add-product">
        <h1 style="margin-bottom: 50px;">Create your own product!</h1>

        <!-- Adding product -->

        <form class="add-product-form" th:action="@{/addProduct}" th:object="${product}" method="post">

            <label class="text-before-field" for="id">Product id:</label><br/>
            <div th:if="${#fields.hasErrors('id')}">
                <span class="validationError"
                      th:errors="*{id}">Name Error
                </span><br/>
            </div>
            <input type="number" class="input-place" placeholder="ID" name="id" id="id"/><br/><br/>

            <label class="text-before-field" for="name">Product name:</label><br/>
            <div th:if="${#fields.hasErrors('name')}">
                <span class="validationError"
                      th:errors="*{name}">Name Error
                </span><br/>
            </div>
            <input type="text" class="input-place" placeholder="Product Name" th:field="*{name}" name="name" id="name"/><br/><br/>

            <label class="text-before-field" for="price">Product price:</label><br/>
            <div th:if="${#fields.hasErrors('price')}">
                <span class="validationError"
                      th:errors="*{price}">Name Error
                </span><br/>
            </div>
            <input type="number" step="0.01" min="0" class="input-place" placeholder="Price" th:field="*{price}" name="price" id="price"/><br/><br/>

            <label class="text-before-field" for="description">Product description:</label><br/>
            <div th:if="${#fields.hasErrors('description')}">
                <span class="validationError"
                      th:errors="*{description}">Name Error
                </span><br/>
            </div>
            <input type="text" class="input-place" placeholder="Description" th:field="*{description}" name="description" id="description"/><br/><br/>

            <label class="text-before-field" for="type">Product type:</label><br/>
            <div th:if="${#fields.hasErrors('type')}">
                <span class="validationError"
                      th:errors="*{type}">Name Error
                </span><br/>
            </div>
            <select th:selected="*{type}" name="type" id="type">
                <option value="" disabled selected hidden>Select Product Type</option>
                <option th:each="types : ${productTypes}"
                        th:text="${types.type}"></option></select><br/><br/>

            <button type="submit" class="btn btn-add-product">Create product</button>
        </form><br/><br/>

        <!-- Adding product type -->

        <form class="add-product-type-form" th:action="@{/addType}" th:object="${productType}" method="post">
        <label class="text-before-field" for="addingProductType">Product type:</label><br/>
        <div th:if="${#fields.hasErrors('type')}">
                <span class="validationError"
                      th:errors="*{type}">Name Error
                </span><br/>
        </div>
        <input type="text" class="input-place" placeholder="Product type" th:field="*{type}" name="addingProductType" id="addingProductType"/><br/><br/>

        <button type="submit" class="btn btn-add-product">Create type</button>
        </form>
    </div>
</body>
</html>