<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopper Home</title>
</head>
<body>

    <div th:include="navbar :: navbar"></div>

    <div class="add-product">
        <form th:action="@{/addProduct}" method="post" id="add-product">
            <label for="productId">Product id:</label>
            <input type="number" class="form-control" name="productId" id="productId"/></br>

            <label for="productName">Product name:</label>
            <input type="text" class="form-control" name="productName" id="productName"/></br>

            <label for="productPrice">Product price:</label>
            <input type="number" class="form-control" name="productPrice" id="productPrice"/></br>

            <label for="productDescription">Product description:</label>
            <input type="text" class="form-control" name="productDescription" id="productDescription"/></br>

            <label for="productType">Product type:</label>
            <select name="productType" class="form-control" id="productType">
                <option>Select Product Type</option>
                <option th:each="types : ${productTypes}"
                        th:text="${types.type}"></option></select></br>
<!--            <input type="text" class="form-control" name="productType" id="productType"/></br>-->

            <button type="submit" class="btn, btn-add-product">Create Product</button>
        </form></br></br>

        <form th:action="@{/addType}" method="post" id="add-product-type">
            <label for="addingProductType">Type the Product Type:</label>
            <input type="text" class="form-control" name="addingProductType" id="addingProductType"/></br>

            <button type="submit" class="btn, btn-add-product">Create Product Type</button>
        </form>
    </div>
</body>
</html>