<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopper - add new product</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="container body add-product">
        <h1 style="margin-bottom: 50px;">Create your own product!</h1>

        <form class="add-product-form" th:action="@{/addProduct}" method="post">
            <label class="text-before-field" for="productId">Product id:</label><br/>
            <input type="number" class="input-place" placeholder="ID" name="productId" id="productId"/><br/><br/>

            <label class="text-before-field" for="productName">Product name:</label><br/>
            <input type="text" class="input-place" placeholder="Product Name" name="productName" id="productName"/><br/><br/>

            <label class="text-before-field" for="productPrice">Product price:</label><br/>
            <input type="number" class="input-place" placeholder="Price" name="productPrice" id="productPrice"/><br/><br/>

            <label class="text-before-field" for="productDescription">Product description:</label><br/>
            <input type="text" class="input-place" placeholder="Description" name="productDescription" id="productDescription"/><br/><br/>

            <label class="text-before-field" for="productType">Product type:</label><br/>
            <select name="productType" id="productType">
                <option>Select Product Type</option>
                <option th:each="types : ${productTypes}"
                        th:text="${types.type}"></option></select><br/><br/>

            <button type="submit" class="btn btn-add-product">Create product</button>
        </form><br/><br/>

        <form class="add-product-type-form" th:action="@{/addType}" method="post" id="add-product-type">
            <label class="text-before-field" for="addingProductType">Product type:</label><br/>
            <input type="text" class="input-place" placeholder="Product type" name="addingProductType" id="addingProductType"/><br/><br/>

            <button type="submit" class="btn btn-add-product">Create type</button>
        </form>
    </div>
</body>
</html>