<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopper - edit a product</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="container body edit-product">
        <h1 style="margin-bottom: 50px;">Edit your product!</h1>

        <form class="add-product-form" th:action="@{/editProductById}" th:object="${productToEdit}" method="post">

            <label class="text-before-field" id="editProductId" th:value="${productToEdit.getId()}" hidden>Product id:</label><br/>

            <label class="text-before-field" for="editProductName">Product name:</label><br/>
            <input type="text" class="input-place" th:value="${productToEdit.getName()}"
                   placeholder="Product name" id="editProductName"/><br/><br/>

            <label class="text-before-field" for="editProductPrice">Product price:</label><br/>
            <input type="text" class="input-place" th:value="${productToEdit.getPrice()}"
                   placeholder="Price" id="editProductPrice"/><br/><br/>

            <label class="text-before-field" for="editProductDescription">Product description:</label><br/>
            <textarea class="input-place input-textarea" th:text="${productToEdit.getDescription()}"
                      placeholder="Description" id="editProductDescription"></textarea><br/><br/>

            <label class="text-before-field" for="editProductType">Product type:</label><br/>
            <select class="select-element" th:selected="${productToEdit.getType()}" name="type" id="editProductType">
                <option th:text="${productToEdit.getType()}" disabled selected hidden>Select Product Type</option>
                <option th:each="types : ${productTypes}"
                        th:text="${types.type}"></option></select><br/><br/>

            <button type="submit" class="btn btn-add-product">Update product</button>
        </form>

    </div>
</body>
</html>