<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopper - list of products</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="container body product-by-id">
        <div class="product-by-id-width">
            <div class="product-by-id-info" th:action="@{/getProductById}" method="get">
                <div id="product-by-id-div-price-and-desc">
                    <h4 id="product-by-id-name" th:text="${productById.name}">Name</h4>
                    <p id="product-by-id-price" class="price" th:text="${productById.price} + '$'">Price</p>
                    <h5 id="product-by-id-description" th:text="${productById.description}">Description</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>