<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopper - list of products</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="container body list-of-products">
        <ul class="found-products-ul">
            <h3 class="found-products-h3">Found products: </h3><br/>
            <li class="found-products-li" th:each="product : ${products}">
                <span class="found-product-span" id="found-product-name" th:text="${product.name}">NAME</span> -
                <span class="found-product-span" id="found-product-price" th:text="${product.price}">PRICE</span>$ -
                <span class="found-product-span" id="found-product-type" th:text="${product.type}">TYPE</span> -
                <span class="found-product-span" id="found-product-description" th:text="${product.description}">DESCRIPTION</span>
            </li>
        </ul>
    </div>
</body>
</html>