<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopper Home</title>
</head>
<body>

    <div class="navbar"></div>

    <div class="container-body">
        <div class="welcome-words">
            <h1>Welcome to Shopper!</h1>
            <h3>See what we got here for you!</h3>
        </div>
    <div class="list-of-products">
<!--        <form method="get" th:action="/findProducts">-->
<!--            <div>-->
<!--                <label th:for="productName">Type to find your product:</label>-->
<!--                <input th:type="text" class="form-control" th:name="productName" th:id="productName"/>-->
<!--            </div>-->
<!--            <button th:type="submit" class="btn btn-main">Search</button>-->
<!--        </form>-->
    </div>
    </div>

</body>
</html>