<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopper - home</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="container body home-page">
        <div class="welcome-words">
            <h1>Welcome to Shopper!</h1>
            <h3>Find the product you want or
                <a class="a-simple" th:href="@{/add-product}">add it!</a></h3>
        </div>
        
        <div class="search-product">
            <form th:action="@{/all-products}" method="get" id="search-product-form">
                <div th:if="${productNotFound != null}">
                    <span class="validationError"
                          th:text="${productNotFound}">Name Error
                    </span><br/>
                </div>
                <label class="text-before-field" for="productName">Product name:</label>
                <input type="text" style="padding: 3px; width: 200px;" placeholder="Search" name="productName" id="productName"/><br/><br/>
                <button type="submit" class="btn btn-search-product">Search</button>
            </form>
        </div>

        <div class="rand-products-main">
            <div class="list-of-product-width">
                <h2 class="found-products-h2">What we've got for you:</h2><br/>
                <div class="found-products-div-ul">
                    <ul class="found-products-ul">
                        <li class="found-products-li" th:each="product : ${randomProductList}">
                            <a class="found-products-a" th:href="@{'/product/' + ${product.id}}">
                                <div class="found-products-inside-div">
                                    <h4 th:text="${product.name}">Name</h4>
                                    <h5 class="price" th:text="${product.price} + '$'">Price</h5>
                                    <h5 style="font-size: 11px; color: #34414B;" th:text="'Category: ' + ${product.type}">Category</h5>
                                    <h5 style="font-size: 13px; color: #232C32;" th:text="${product.description}">Description</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>