<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopper - login</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="container body login-page">
        <h1>Login</h1>

        <form method="post" th:action="@{/login}" id="loginForm">

            <div th:if="${(#httpServletRequest.getParameter('error') != null) and (#httpServletRequest.getParameter('error') == 'true')}">
                <span class="validationError">
                    Username and\or password is incorrect.
                </span><br/><br/>
            </div>

            <label class="text-before-field" for="username">Username: </label><br/>
            <input type="text" class="input-place" placeholder="Username" name="username" id="username"><br/><br/>

            <label class="text-before-field" for="password">Password: </label><br/>
            <input type="password" class="input-place" placeholder="Password" name="password" id="password"><br/>

            <input style="visibility: hidden" type="checkbox" class="input-place" checked name="remember-me"/><br/>

            <button type="submit" class="btn btn-login" value="Login">Login</button>
            <a class="a-to-register" th:href="@{/register}">Sign up</a>
        </form>
    </div>

</body>
</html>