<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopper - navbar</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <div th:fragment="navbar">
        <ul class="navbar-left">
            <li><a href="/">Shopper</a></li>
        </ul>

        <ul class="navbar-right">
            <li><a th:href="@{/addProduct}">Add Product</a></li>
            <li><a th:href="@{/accountInfo}">Account Info</a></li>
            <li><a th:href="@{/logout}">Log out</a></li>
        </ul>
    </div>

</body>
</html>