<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopper - navbar</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <div th:fragment="navbar">
        <div class="sub-navbar" id="navbar-left">
            <a class="sub-navbar-links" href="/">Shopper</a>
        </div>

        <div class="sub-navbar" id="navbar-right">
            <a class="sub-navbar-links" th:href="@{/addProduct}">Add Product</a>
            <a class="sub-navbar-links" th:href="@{/accountInfo}">My Profile</a>
        </div>
    </div>

</body>
</html>