<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopper - registration</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="container body registration-page">
        <h1>Registration</h1>

        <form method="post" th:action="@{/register}" th:object="${user}" id="registerForm">

            <div th:if="${#fields.hasErrors()}">
                <span class="validationError">
                    Please, correct the problems below and resubmit.
                </span><br/><br/>
            </div>

            <label class="text-before-field" for="email">Email: </label><br/>
            <div th:if="${#fields.hasErrors('email')}">
                <span class="validationError"
                  th:errors="*{email}">Name Error
                </span><br/>
            </div>
            <input type="text" th:field="*{email}" name="email" id="email"><br/><br/>

            <label class="text-before-field" for="username">Username: </label><br/>
            <div th:if="${#fields.hasErrors('username')}">
                <span class="validationError"
                      th:errors="*{username}">Name Error
                </span><br/>
            </div>
            <input type="text" th:field="*{username}" name="username" id="username"><br/><br/>

            <label class="text-before-field" for="password">Password: </label><br/>
            <div th:if="${#fields.hasErrors('password')}">
                <span class="validationError"
                      th:errors="*{password}">Name Error
                </span><br/>
            </div>
            <input type="password" th:field="*{password}" name="password" id="password"><br/><br/>

            <button type="submit" class="btn btn-primary" value="Register User">Sign up</button>

            <a class="a-to-login" th:href="@{/login}">back to login</a>
        </form>
    </div>

</body>
</html>